## Preprocessing simulated data

In [25]:
import pandas as pd
import numpy as np
station = 'Lugano'
mode = 'flashy'
data_path = '/mydata/watres/quentin/code/FLOW/data/simulated_data_events_updatesummer2024/{0}_{1}/ref_flow_{1}_fluxes.txt'.format(station, mode)
#'./{0}_{1}/data_{0}_{1}.txt'.format(station, mode)
df = pd.read_csv(data_path)
df

                  t    p       pet        et         R         q
0       1981.000114  0.0  0.040533  0.029746  0.033681  0.105081
1       1981.000228  0.0  0.040533  0.029734  0.033001  0.103832
2       1981.000342  0.0  0.040533  0.029722  0.032344  0.102598
3       1981.000457  0.0  0.040533  0.029709  0.031711  0.101380
4       1981.000571  0.0  0.040533  0.029697  0.031099  0.100180
...             ...  ...       ...       ...       ...       ...
376891  2023.996804  0.0  0.024443  0.016794  0.001676  0.017026
376892  2023.996918  0.0  0.024443  0.016792  0.001670  0.016992
376893  2023.997032  0.0  0.024443  0.016791  0.001665  0.016959
376894  2023.997146  0.0  0.024443  0.016790  0.001659  0.016925
376895  2023.997260  0.0  0.024443  0.016788  0.001654  0.016892

[376896 rows x 6 columns]

In [26]:
import sys
sys.path.append('/mydata/watres/quentin/code/FLOW/hourly_analysis/')
import GAMCR

In [27]:
df = df.rename(columns={"t": "timeyear"})
df['date'] = df['timeyear'].apply(lambda x: GAMCR.fractional_year_to_datetime(x))
import os
if not os.path.exists('./{0}_{1}/'.format(station, mode)):
    os.makedirs('./{0}_{1}/'.format(station, mode))
data_path_save = './{0}_{1}/data_{0}_{1}.txt'.format(station, mode)
df.to_csv(data_path_save, index=False)