In [5]:
import numpy as np
import pandas as pd
import os

all_GISID = [3]
all_GISID = np.array([str(el) for el in all_GISID])

path_catchments_geodata = '../../data/CH_Catchments_Geodata_MF_20221209.csv'
from data_and_visualization.get_feat_space import *
feat_space, all_GISID, dffeat = get_feat_space(path_catchments_geodata, all_GISID=all_GISID, get_df=True, normalize=False)

GISID = all_GISID[0]
df = pd.read_csv('../../data/{0}.csv'.format(GISID), sep=',')
df

,discharge,precip,t,datetime,tmin,tmax,tabs,pet
0,2.137333,0.006947,2005.000000,2005-01-01 00:00:00,-1.286871,4.470357,1.063258,0.406041
1,2.139167,0.047152,2005.000114,2005-01-01 01:00:00,-1.286871,4.470357,1.063258,0.406041
2,2.146333,0.064042,2005.000228,2005-01-01 02:00:00,-1.286871,4.470357,1.063258,0.406041
3,2.182833,0.009261,2005.000342,2005-01-01 03:00:00,-1.286871,4.470357,1.063258,0.406041
4,2.201167,0.013878,2005.000457,2005-01-01 04:00:00,-1.286871,4.470357,1.063258,0.406041
...,...,...,...,...,...,...,...,...
136580,3.046167,0.000000,2020.581512,2020-07-31 20:00:00,17.275917,29.355865,23.276163,5.088804
136581,3.020500,0.000000,2020.581626,2020-07-31 21:00:00,17.275917,29.355865,23.276163,5.088804
136582,2.972667,0.000000,2020.581740,2020-07-31 22:00:00,17.275917,29.355865,23.276163,5.088804
136583,2.972667,0.000000,2020.581853,2020-07-31 23:00:00,17.275917,29.355865,23.276163,5.088804
136584,2.961000,0.000000,2020.581967,2020-08-01 00:00:00,15.647412,26.592905,21.403584,4.601106

In [6]:
df.loc[:,'datetime'] = pd.to_datetime(df['datetime'])

In [7]:
for GISID in all_GISID:
    df = pd.read_csv('../../data/{0}.csv'.format(GISID), sep=',')
    df = df.rename(columns={"discharge": "q"})
    
    # conversion of discharge data to mm/h
    df['q'] = df['q'] * 3600 * 1000 / (dffeat.loc[GISID, 'EZG '] * 1000000)  
    
    df = df.rename(columns={"t": "timeyear"})
    df = df.rename(columns={"datetime": "date"})
    df.loc[df['precip']<=0.1,'precip'] = 0
    df = df.rename(columns={"precip": "p"})
    df = df.fillna(0)
    
    ########### Filtering out some date just to have faster computation for the tutorial
    df = df.loc[df['timeyear']>2012]
    df.reset_index(inplace=True, drop=True)
    import os
    directory = './{0}/'.format(GISID)
    if not os.path.exists(directory):
        os.makedirs(directory)
        
    df.to_csv(directory+'data_{0}.txt'.format(GISID), index=False)

In [8]:
df

,q,p,timeyear,date,tmin,tmax,tabs,pet
0,1.050870,0.0,2012.000114,2012-01-01 01:00:00,1.998231,6.586299,3.707057,0.413278
1,0.996467,0.0,2012.000228,2012-01-01 02:00:00,1.998231,6.586299,3.707057,0.413278
2,0.893247,0.0,2012.000342,2012-01-01 03:00:00,1.998231,6.586299,3.707057,0.413278
3,0.781129,0.0,2012.000455,2012-01-01 04:00:00,1.998231,6.586299,3.707057,0.413278
4,0.708875,0.0,2012.000569,2012-01-01 05:00:00,1.998231,6.586299,3.707057,0.413278
...,...,...,...,...,...,...,...,...
75235,0.024743,0.0,2020.581512,2020-07-31 20:00:00,17.275917,29.355865,23.276163,5.088804
75236,0.024535,0.0,2020.581626,2020-07-31 21:00:00,17.275917,29.355865,23.276163,5.088804
75237,0.024146,0.0,2020.581740,2020-07-31 22:00:00,17.275917,29.355865,23.276163,5.088804
75238,0.024146,0.0,2020.581853,2020-07-31 23:00:00,17.275917,29.355865,23.276163,5.088804
75239,0.024051,0.0,2020.581967,2020-08-01 00:00:00,15.647412,26.592905,21.403584,4.601106